# Created by https://www.toptal.com/developers/gitignore/api/java,node,linux,macos,maven,python,windows,powershell,intellij+all,visualstudiocode,ansible,ansibletower,terraform,terragrunt,jmeter,packer,pycharm+all
# Edit at https://www.toptal.com/developers/gitignore?templates=java,node,linux,macos,maven,python,windows,powershell,intellij+all,visualstudiocode,ansible,ansibletower,terraform,terragrunt,jmeter,packer,pycharm+all

### Swift ###
# Swift Package Manager
.build/
Package.resolved
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/

# Build artifacts
ClipboardTyper
ClipboardTyper.app/
dist/

### Ansible ###
*.retry

### AnsibleTower ###
*.original
*.tmp
*.bkp
*.*~

roles/**
!roles/requirements.yml

*pwd*
*pass*
*password*
*.txt

*.bin
*.jar
*.tar
*.zip
*.gzip
*.tgz


### Intellij+all ###
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/aws.xml
.idea/**/contentModel.xml

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

.idea/**/gradle.xml
.idea/**/libraries

cmake-build-*/

.idea/**/mongoSettings.xml

*.iws

out/

.idea_modules/

atlassian-ide-plugin.xml

.idea/replstate.xml

.idea/sonarlint/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea/httpRequests

.idea/caches/build_file_checksums.ser

### Intellij+all Patch ###
.idea/*

!.idea/codeStyles
!.idea/runConfigurations

### Java ###
*.class

*.log

*.ctxt

.mtj.tmp/

*.nar
*.ear
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

### JMeter ###
*.jtl

user.properties

### Linux ###
*~

.fuse_hidden*

.directory

.Trash-*

.nfs*

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
*.icloud

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.project
.classpath

### Node ###
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage
*.lcov

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/
jspm_packages/

web_modules/

*.tsbuildinfo

.npm

.eslintcache

.stylelintcache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.node_repl_history

.yarn-integrity

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.cache
.parcel-cache

.next
out

.nuxt
dist

.cache/

.vuepress/dist

.temp

.docusaurus

.serverless/

.fusebox/

.dynamodb/

.tern-port

.vscode-test

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

### Node Patch ###
.webpack/

.svelte-kit

### Packer ###
packer_cache/

crash.log

*.box

### Packer Patch ###
output-*/

### PowerShell ###
*.dll

### Python ###
__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

*.mo
*.pot

local_settings.py
db.sqlite3
db.sqlite3-journal

instance/
.webassets-cache

.scrapy

docs/_build/

.pybuilder/

.ipynb_checkpoints

profile_default/
ipython_config.py

.pdm.toml

__pypackages__/

celerybeat-schedule
celerybeat.pid

*.sage.py

.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.spyderproject
.spyproject

.ropeproject

/site

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.pytype/

cython_debug/

### Python Patch ###
poetry.toml

.ruff_cache/

pyrightconfig.json

### Terraform ###
**/.terraform/*

*.tfstate
*.tfstate.*

crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

### Terragrunt ###
**/.terragrunt-cache/*

terragrunt-debug.tfvars.json

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/

*.vsix

### VisualStudioCode Patch ###
.history
.ionide

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

*.stackdump

[Dd]esktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msix
*.msm
*.msp

*.lnk

# End of https://www.toptal.com/developers/gitignore/api/java,node,linux,macos,maven,python,windows,powershell,intellij+all,visualstudiocode,ansible,ansibletower,terraform,terragrunt,jmeter,packer,pycharm+all

### Custom ###
**/.terraform/
**/.terraform.lock.hcl
.idea
.terraform
**/*.key
.terraform.d
